<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browsername" value=""/>

    <suite-files>
        <suite-file path="Sprint1.xml"/>
        <suite-file path="Sprint2.xml"/>
        <suite-file path="Sprint3.xml"/>
    </suite-files>



</suite>